# get the Meta Control syntax


set convert-meta on

# move
Meta-i: previous-history
Meta-k: next-history
Meta-j: backward-char
Meta-l: forward-char

Meta-Control-j: backward-word
Meta-Control-l: forward-word

Meta-o: kill-word
Meta-u: backward-kill-word

Control-o: delete-char
Control-u: backward-delete-char
Control-h: kill-whole-line

Control-SPACE: accept-line
# snippet
# à faire
