# "\e<": beginning-of-history
# "\e\C-i": dynamic-complete-history
# "\e>": end-of-history
# fetch-history (not bound)
# "\C-s": forward-search-history
# history-and-alias-expand-line (not bound)
# "\e^": history-expand-line
# "\e[5~": history-search-backward
# "\e[6~": history-search-forward
# history-substring-search-backward (not bound)
# history-substring-search-forward (not bound)
# "\C-n": next-history
# "\eOB": next-history
# "\e[B": next-history
# "\en": non-incremental-forward-search-history
# non-incremental-forward-search-history-again (not bound)
# "\ep": non-incremental-reverse-search-history
# non-incremental-reverse-search-history-again (not bound)
# "\C-p": previous-history
# "\eOA": previous-history
# "\e[A": previous-history
# "\C-r": reverse-search-history
# vi-fetch-history (not bound)

"\ei": previous-history
"\ek": next-history
"\ej": backward-char
"\el": forward-char
"\e\C-j": backward-word
"\e\C-l": forward-word
# "\eu": backward-word
# "\eo": forward-word
